<html
  dir='ltr'
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
  lang='en'
>
  <head>
    <meta charset='UTF-8' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta content='telephone=no' name='format-detection' />
    <!--[if (mso 16)]>
      <style type="text/css">
        a {
          text-decoration: none;
        }
      </style>
    <![endif]-->
    <!--[if gte mso 9
      ]><style>
        sup {
          font-size: 100% !important;
        }
      </style><!
    [endif]-->
    <!--[if gte mso 9]>
      <noscript>
        <xml>
          <o:OfficeDocumentSettings>
            <o:AllowPNG></o:AllowPNG>
            <o:PixelsPerInch>96</o:PixelsPerInch>
          </o:OfficeDocumentSettings>
        </xml>
      </noscript>
    <![endif]-->
    <!--[if mso
      ]><xml>
        <w:WordDocument xmlns:w="urn:schemas-microsoft-com:office:word">
          <w:DontUseAdvancedTypographyReadingMail />
        </w:WordDocument> </xml
    ><![endif]-->
    <style type='text/css'>
      .rollover:hover .rollover-first { max-height: 0px !important; display:
      none !important; } .rollover:hover .rollover-second { max-height: none
      !important; display: block !important; } .rollover span { font-size: 0px;
      } u + .body img ~ div div { display: none; } #outlook a { padding: 0; }
      span.MsoHyperlink, span.MsoHyperlinkFollowed { color: inherit;
      mso-style-priority: 99; } a.r { mso-style-priority: 100 !important;
      text-decoration: none !important; } a[x-apple-data-detectors],
      #MessageViewBody a { color: inherit !important; text-decoration: none
      !important; font-size: inherit !important; font-family: inherit
      !important; font-weight: inherit !important; line-height: inherit
      !important; } .h { display: none; float: left; overflow: hidden; width: 0;
      max-height: 0; line-height: 0; mso-hide: all; } @media only screen and
      (max-width: 600px) { *[class='gmail-fix'] { display: none !important; } p,
      a { line-height: 150% !important; } h1, h1 a { line-height: 120%
      !important; } h2, h2 a { line-height: 120% !important; } h3, h3 a {
      line-height: 120% !important; } h4, h4 a { line-height: 120% !important; }
      h5, h5 a { line-height: 120% !important; } h6, h6 a { line-height: 120%
      !important; } .bd p { } h1 { font-size: 40px !important; text-align: left;
      } h2 { font-size: 32px !important; text-align: left; } h3 { font-size:
      28px !important; text-align: left; } h4 { font-size: 24px !important;
      text-align: left; } h5 { font-size: 20px !important; text-align: left; }
      h6 { font-size: 16px !important; text-align: left; } .bd p, .bd a {
      font-size: 14px !important; } .x .rollover:hover .rollover-second, .y
      .rollover:hover .rollover-second, .z .rollover:hover .rollover-second {
      display: inline !important; } .k table, .l table, .m table, .k, .m, .l {
      width: 100% !important; max-width: 600px !important; } .adapt-img { width:
      100% !important; height: auto !important; } .h-auto { height: auto
      !important; } .c .d, .c .d * { font-size: 28px !important; line-height:
      150% !important; } .a .b, .a .b * { font-size: 16px !important;
      line-height: 150% !important; } } @media screen and (max-width: 384px) {
      .mail-message-content { width: 414px !important; } }
    </style>
  </head>
  <body
    class='body'
    style='
      width: 100%;
      height: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      padding: 0;
      margin: 0;
    '
  >
    <div
      dir='ltr'
      class='es-wrapper-color'
      lang='en'
      style='background-color: #f6f6f6'
    >
      <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
          <v:fill type="tile" color="#f6f6f6"></v:fill>
        </v:background>
      <![endif]-->
      <table
        width='100%'
        cellspacing='0'
        cellpadding='0'
        class='es-wrapper'
        role='none'
        style='
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
          border-collapse: collapse;
          border-spacing: 0px;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          background-color: #f6f6f6;
        '
      >
        <tr>
          <td valign='top' style='padding: 0; margin: 0'>
            <table
              cellspacing='0'
              cellpadding='0'
              align='center'
              class='k'
              role='none'
              style='
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
                border-collapse: collapse;
                border-spacing: 0px;
                width: 100%;
                table-layout: fixed !important;
              '
            >
              <tr>
                <td align='center' style='padding: 0; margin: 0'>
                  <table
                    cellspacing='0'
                    cellpadding='0'
                    bgcolor='#ffffff'
                    align='center'
                    class='bd'
                    role='none'
                    style='
                      mso-table-lspace: 0pt;
                      mso-table-rspace: 0pt;
                      border-collapse: collapse;
                      border-spacing: 0px;
                      background-color: #ffffff;
                      width: 600px;
                    '
                  >
                    <tr>
                      <td
                        align='left'
                        style='
                          padding: 0;
                          margin: 0;
                          padding-top: 20px;
                          padding-right: 20px;
                          padding-left: 20px;
                        '
                      >
                        <table
                          width='100%'
                          cellspacing='0'
                          cellpadding='0'
                          role='none'
                          style='
                            mso-table-lspace: 0pt;
                            mso-table-rspace: 0pt;
                            border-collapse: collapse;
                            border-spacing: 0px;
                          '
                        >
                          <tr>
                            <td
                              valign='top'
                              align='center'
                              style='padding: 0; margin: 0; width: 560px'
                            >
                              <table
                                width='100%'
                                cellspacing='0'
                                cellpadding='0'
                                role='presentation'
                                style='
                                  mso-table-lspace: 0pt;
                                  mso-table-rspace: 0pt;
                                  border-collapse: collapse;
                                  border-spacing: 0px;
                                '
                              >
                                <tr>
                                  <td
                                    align='left'
                                    class='c'
                                    style='padding: 0; margin: 0'
                                  >
                                    <h1
                                      class='d'
                                      style="
                                        margin: 0;
                                        font-family: -apple-system,
                                          BlinkMacSystemFont, 'Segoe UI',
                                          Roboto, Helvetica, Arial, sans-serif,
                                          'Apple Color Emoji', 'Segoe UI Emoji',
                                          'Segoe UI Symbol';
                                        mso-line-height-rule: exactly;
                                        letter-spacing: 0;
                                        font-size: 28px;
                                        font-style: normal;
                                        font-weight: normal;
                                        line-height: 33.6px;
                                        color: #333333;
                                      "
                                    >
                                      <strong>Your account has been created</strong>
                                    </h1>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table
              cellspacing='0'
              cellpadding='0'
              align='center'
              class='k'
              role='none'
              style='
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
                border-collapse: collapse;
                border-spacing: 0px;
                width: 100%;
                table-layout: fixed !important;
              '
            >
              <tr>
                <td align='center' style='padding: 0; margin: 0'>
                  <table
                    cellspacing='0'
                    cellpadding='0'
                    bgcolor='#ffffff'
                    align='center'
                    class='bd'
                    role='none'
                    style='
                      mso-table-lspace: 0pt;
                      mso-table-rspace: 0pt;
                      border-collapse: collapse;
                      border-spacing: 0px;
                      background-color: #ffffff;
                      width: 600px;
                    '
                  >
                    <tr>
                      <td
                        align='left'
                        style='
                          padding: 0;
                          margin: 0;
                          padding-top: 20px;
                          padding-right: 20px;
                          padding-left: 20px;
                        '
                      >
                        <table
                          width='100%'
                          cellspacing='0'
                          cellpadding='0'
                          role='none'
                          style='
                            mso-table-lspace: 0pt;
                            mso-table-rspace: 0pt;
                            border-collapse: collapse;
                            border-spacing: 0px;
                          '
                        >
                          <tr>
                            <td
                              valign='top'
                              align='center'
                              style='padding: 0; margin: 0; width: 560px'
                            >
                              <table
                                width='100%'
                                cellspacing='0'
                                cellpadding='0'
                                role='presentation'
                                style='
                                  mso-table-lspace: 0pt;
                                  mso-table-rspace: 0pt;
                                  border-collapse: collapse;
                                  border-spacing: 0px;
                                '
                              >
                                <tr>
                                  <td
                                    align='left'
                                    class='a'
                                    style='padding: 0; margin: 0'
                                  >
                                    <p
                                      class='b'
                                      style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: arial, 'helvetica neue',
                                          helvetica, sans-serif;
                                        line-height: 24px;
                                        letter-spacing: 0;
                                        color: #333333;
                                        font-size: 16px;
                                      "
                                    >
                                      Hi
                                      {{name}}! We're excited to have you on
                                      board.
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table
              cellspacing='0'
              cellpadding='0'
              align='center'
              class='k'
              role='none'
              style='
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
                border-collapse: collapse;
                border-spacing: 0px;
                width: 100%;
                table-layout: fixed !important;
              '
            >
              <tr>
                <td align='center' style='padding: 0; margin: 0'>
                  <table
                    cellspacing='0'
                    cellpadding='0'
                    bgcolor='#ffffff'
                    align='center'
                    class='bd'
                    role='none'
                    style='
                      mso-table-lspace: 0pt;
                      mso-table-rspace: 0pt;
                      border-collapse: collapse;
                      border-spacing: 0px;
                      background-color: #ffffff;
                      width: 600px;
                    '
                  >
                    <tr>
                      <td
                        align='left'
                        style='
                          padding: 0;
                          margin: 0;
                          padding-top: 20px;
                          padding-right: 20px;
                          padding-left: 20px;
                        '
                      >
                        <table
                          width='100%'
                          cellspacing='0'
                          cellpadding='0'
                          role='none'
                          style='
                            mso-table-lspace: 0pt;
                            mso-table-rspace: 0pt;
                            border-collapse: collapse;
                            border-spacing: 0px;
                          '
                        >
                          <tr>
                            <td
                              valign='top'
                              align='center'
                              style='padding: 0; margin: 0; width: 560px'
                            >
                              <table
                                width='100%'
                                cellspacing='0'
                                cellpadding='0'
                                role='presentation'
                                style='
                                  mso-table-lspace: 0pt;
                                  mso-table-rspace: 0pt;
                                  border-collapse: collapse;
                                  border-spacing: 0px;
                                '
                              >
                                <tr>
                                  <td
                                    align='left'
                                    style='padding: 0; margin: 0'
                                  >
                                    <p
                                      style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: arial, 'helvetica neue',
                                          helvetica, sans-serif;
                                        line-height: 28px;
                                        letter-spacing: 0;
                                        color: #333333;
                                        font-size: 14px;
                                      "
                                    >
                                      <b>Didn't request this?</b>
                                    </p>
                                    <p
                                      style="
                                        margin: 0;
                                        mso-line-height-rule: exactly;
                                        font-family: arial, 'helvetica neue',
                                          helvetica, sans-serif;
                                        line-height: 28px;
                                        letter-spacing: 0;
                                        color: #333333;
                                        font-size: 14px;
                                      "
                                    >
                                      If you did not make this change, please
                                      reach out to an administrator for support.
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>